/* Quita márgenes para que el mapa use toda la pantalla */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* El mapa ocupa todo el alto visible */
#map {
  width: 100%;
  height: 100vh;
}
